p, h1, h2, h3, h4
{
  font-family: Arial;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

p
{
    
}

body
{
	background-color:black;
	color:white;
	margin: 0;
	padding:0;
}

a
{
	font-family:arial;
	color:white;
}

#currentLyric
{
	font-size:30px;
	position:absolute;
	bottom:0px;
	width: 100%;
	text-align: center;
}

@media screen and (min-width:200px) and (min-height:200px)
{
	#currentLyric
	{
		top: 30vh;
		width: 100%;
		text-align: center;
		font-size:15vh;
	}
}

#titlebar
{
	top: 0;
	height:20px;
	overflow:hidden;
	text-align:center;
}

#controlsbar
{
	z-index:10;
	position:absolute;
	font-weight:bold;
	font-size:13px;
	top:0px;
	text-transform:uppercase;
}

.upperbar
{
}

#time
{
	position:absolute;
	top:0px;
	right:0px;
	float:right;
}

.slider-background {
	background-color: gray;
    height: 20px;
}

.slider-inside {
	background-color: blue;
    height: 20px;
    width: 0px;
}
