p, h1, h2, h3, h4
{
  font-family: Arial;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

p
{

}

body
{
	background-color:black;
	color:white;
	margin: 0;
	padding:0;
	-webkit-app-region: drag;
  overflow: hidden;
}

a
{
	font-family:arial;
	color:white;
}

#currentLyric
{
	font-size:30px;
	position:absolute;
	bottom:0px;
	width: 100%;
	text-align: center;
  z-index:-1;
}

@media screen and (min-width:200px) and (min-height:200px)
{
	#currentLyric
	{
		top: 30vh;
		width: 100%;
		text-align: center;
		font-size:15vh;
	}
}

#titlebar
{
	position:absolute;
	top: 0;
	height:20px;
	width: 100%;
	overflow:hidden;
	text-align:center;
	-webkit-app-region: no-drag;
}

#controlsbar
{
	z-index:10;
	position:absolute;
	font-weight:bold;
	font-size:13px;
	top:0px;
	text-transform:uppercase;
}

.upperbar
{
    position: absolute;
    width:100%;
    cursor:pointer;
}

.lowerbar
{
    position: fixed;
    bottom: 0px;
    -webkit-app-region: no-drag;
}

#time
{
	position:absolute;
	top:0px;
	right:0px;
	float:right;
  font-family:arial;
}

.slider-background {
	background-color: gray;
    height: 20px;
	   box-shadow: 0px 0px 21px 8px gray;
}

.slider-inside {
	background-color: blue;
    height: 20px;
    width: 0px;
	  box-shadow: 0px 0px 21px 8px rgba(0,0,255,1);

}

ol, ul {
  margin: 0;
  padding: 0;
}

ul li {
	font-family: Arial;
	font-size: 12px;
	color: white;
	cursor:pointer;
}

ul li:hover {
	background-color: #0011aa;
}

h3 {
	font-size : 12px;
	display:block;
	color: white;
	margin: 0 auto;
	width: auto;
	text-transform:uppercase;
}

.playing {
	background-color:#005500;
}

.clickable, ul {
	-webkit-app-region: no-drag;
}
