p, h1, h2, h3, h4
{
  font-family: Arial;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

p
{
    
}

body
{
	background-color:black;
	color:white;
	margin: 0;
	padding:0;
}

a
{
	font-family:arial;
	color:white;
}

#currentLyric
{
	font-size:30px;
	position:absolute;
	bottom:0px;
	width: 100%;
	text-align: center;
}

#controls
{
	z-index:10;
}

@media screen and (min-width:200px) and (min-height:200px)
{
	#currentLyric
	{
		top: 30vh;
		width: 100%;
		text-align: center;
		font-size:20vh;
	}
}